<!-- Button to trigger modal -->

<!-- Modal -->
<div id="myModal" data-view="" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">User info</h3>
  </div>
  <div class="modal-body">
    <form>
    <% _.each( _.keys(rows), function(key){ %>
        <% if( key === 'id' ) {  %>
        <input name="<%=key%>" type="hidden" value="<%=rows[key]%>"/>
        <% } else {  %>
        <input name="<%=key%>" type="text" value="<%=rows[key]%>"/><br/>
        <% } %>
    <% }); %>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary save">Save changes</button>
  </div>
</div>